@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --btn-green: rgb(40, 116, 53);
    --btn-hover: rgb(16, 149, 38);
}

* {
    box-sizing: border-box;
    font-family: roboto, lato, Arial, sans-serif;
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: 250px 1fr;
}

#books-container {
    display: flex;
}

#sidebar {
    background-color: rgb(152, 191, 170);
    height: 100vh;
    padding: 50px 20px;
    box-shadow: 1px 0px 4px 1px rgb(204, 203, 203);
    width: 250px;
}

#new-book {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#new-book div  {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

#new-book div.radio-option {
    display: flex;
    flex-direction: row;
}

legend {
    margin-top: 20px;
    font-weight: 500;
}

#create-btn {
    width: 100%;
    font-size: large;
    font-weight: 600;
    padding: 5px;
    margin: 20px auto;
    background-color: var(--btn-green);
    color: white;
    border-radius: 12px;
    border: none;
    box-shadow: 1px 1px 4px 1px rgb(128, 128, 128);
}

#create-btn:hover {
    background-color: var(--btn-hover);
    cursor: pointer;
}

input {
    border-radius: 8px;
}

label {
    font-weight: 500;
    margin-left: 5px;
}

#books-table {
    border: 2px solid gray;
    width: 100%;
    table-layout: auto;
}

#table-container {
    padding: 20px;
    justify-content: left;
}

th {
    width: 150px;
}

tr {
    border: 1px solid gray;
}

td {
    white-space: nowrap;
    text-align: center;
    padding: 10px 0px;
}

.remove-btn {
    background-color: var(--btn-green);
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
}

.remove-btn:hover {
    background-color: var(--btn-hover);
    cursor: pointer;
}